@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg,
            #0f2027,
            #203a43,
            #2c5364);


}

.container {

    width: 380px;

    padding: 35px;

    border-radius: 25px;

    background: rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(15px);

    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.3);

    text-align: center;

    color: white;

    animation: fadeIn 1s ease;
}

h1 {

    margin-bottom: 25px;

    font-size: 38px;

    font-weight: 600;

    letter-spacing: 1px;
}

form {

    display: flex;

    justify-content: center;

    gap: 10px;

    margin-bottom: 30px;
}

input {

    flex: 1;

    padding: 12px;

    border: none;

    outline: none;

    border-radius: 12px;

    background: rgba(255, 255, 255, 0.2);

    color: white;

    font-size: 15px;
}

input::placeholder {
    color: #ddd;
}

button {

    padding: 12px 18px;

    border: none;

    border-radius: 12px;

    background: #00c6ff;

    color: white;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {

    transform: scale(1.05);

    background: #0072ff;
}

.weather-box{

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:25px;

    margin-top:30px;

    padding:20px;

    border-radius:20px;

    background:rgba(255,255,255,0.08);

    animation:slideUp 0.8s ease;
}

.weather-left img{

    width:130px;
}

.weather-right{

    text-align:left;

    flex:1;
}

.weather-right h2{

    font-size:32px;

    margin-bottom:10px;
}

.weather-right h1{

    font-size:52px;

    margin:10px 0;
}

.weather-right p{

    margin:8px 0;

    font-size:18px;

    color:#f1f1f1;
}
}

.weather-box img {

    width: 120px;

    margin: 10px 0;
}

.weather-box h2 {

    font-size: 32px;

    margin-bottom: 10px;
}

.weather-box h1 {

    font-size: 55px;

    margin: 10px 0;
}

.weather-box p {

    margin: 8px 0;

    font-size: 18px;

    color: #f1f1f1;
}

.error {

    color: #ffb3b3;

    margin-top: 15px;
}

@keyframes fadeIn {

    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {

    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}