<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Weather App</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>🌦 Weather App</h1>

        <form method="POST" action="/">
            <input type="text" name="city" placeholder="Enter city name" required>

            <button type="submit">
                Search
            </button>

        </form>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        {% if weather %}

        <div class="weather-box">

            <div class="weather-left">

                <img src="{{ weather.city_image }}" alt="City Image">

            </div>

            <div class="weather-right">

                <h2>{{ weather.city }}</h2>

                <h1>{{ weather.temperature }}°C</h1>

                <p>{{ weather.description }}</p>

                <p>Humidity: {{ weather.humidity }}%</p>

                <p>Wind Speed: {{ weather.wind }} km/h</p>

            </div>

        </div>
        {% endif %}

    </div>

</body>

</html>